.App {
  font-family: sans-serif;
  text-align: center;
}
.custom-btn {
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
}
.btn-tomato {
  background-color: tomato;
}
.btn-red {
  background-color: red;
}
.btn-green {
  background-color: green;
}

.custom-btn-lg {
  padding: 15px 40px;
  font-size: 18px;
}
.custom-btn-md {
  padding: 10px 30px;
  font-size: 16px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

.page-text {
  font-size: 18px;
  font-weight: 500;
}
.download-container {
  text-decoration: none;
}
.download-box {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 210px;
  margin: 0 auto;
}
.download-box svg {
  font-size: 30px;
}

#upload-button {
  width: 210px;
  display: block;
  margin: 20px auto;
}

#file-to-upload {
  display: none;
}

#pdf-main-container {
  width: 400px;
  margin: 20px auto;
}

#pdf-meta {
  overflow: hidden;
}

#pdf-buttons {
  float: left;
}

#page-count-container {
  float: right;
}

#pdf-current-page {
  display: inline;
}

#pdf-total-pages {
  display: inline;
}

#image-convas-row {
  display: flex;
  margin: 20px 0;
  flex-direction: row;
  justify-content: space-around;
}

#pdf-canvas {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

#download-image {
  width: 150px;
  display: block;
  margin: 20px auto 0 auto;
  font-size: 13px;
  text-align: center;
}

#image-generated {
  margin-left: 20px;
  border: 1px solid green;
}
